# deps
node_modules/
.pnpm-store/

# build
dist/
build/
.next/
out/
*.tsbuildinfo

# nx
.nx/cache
.nx/workspace-data

# env & secrets
.env
.env.*
!.env.example
!.env.prod.example
!.env.prod.pm2.example
!.env.production.example

# logs
*.log
logs/

# os / editor
.DS_Store
.idea/
.vscode/*
!.vscode/extensions.json

# test
coverage/
e2e/test-results/
e2e/playwright-report/
e2e/last-run.log

# storybook
storybook-static/

# docker volumes (local)
infra/docker/.data/
